@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;700&display=swap');

.hidden {
    display: none;
}

.footer {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: row;
    margin-left: 5vw;
    margin-top: 40px;
}

.footer-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-right: 20px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.footer-item > a {
    color: black;
    text-decoration: none;
}

.footer-item > a:hover {
    color: grey;
    cursor: pointer;
}

.nav {
    height: 80px;
    position: relative;
    top: 0;
    left: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    margin: 0px 30px;
}

.title {
    margin-top: 30px;
    margin-left: 5vw;
    margin-bottom: 4vh;
    width: 100%;
}

.main-content {
    width: 60vw;
    font-weight: 200;
    font-size: 20px;
}

.nav-button {
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    margin: 10px 40px;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    font-size: 18px;
}

.nav-button:hover {
    color: grey;
    cursor: pointer;
}

.nav-icon, .footer-icon {
    margin-right: 10px;
}

.nav-button-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.experience > p {
    margin-bottom: 7px;
}

.experience > div {
    height: 25px;
}

.content-container {
    font-family: 'Poppins', sans-serif;
    margin-top: 20px;
    height: 100%;
    margin-left: 5vw;
    font-size: 20px;
    width: 100%;
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    height: 100%;
    font-size: 20px;
    width: 100%;
}

@media screen and (max-width: 900px) {
    .main-content {
        width: 80vw;
        font-size: 20px;
    }

    .title {
        margin-top: 10px;
    }

    .content-container {
        margin: 7vw;
    }

    .content {
        width: 80%;
    }
}