@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;300;400;700&display=swap');

.nav {
    height: 40px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 10;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 30px;
    padding: 10px;
}

.nav-button {
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#canvas {
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0;
}

.main {
    font-family: 'Kanit', sans-serif;
}

.landing-container {
    height: 100vh;
    width: 100%;
    z-index: 10;
}

.landing-page {
    position: absolute;
    top: 20%;
    font-family: 'Kanit', sans-serif;
    margin-top: 80px;
}

.menu-icon {
    color: white;
    font-size: 70px;
    padding: 15px;
    height: 25px;
    transition: transform 0.2s;
}

.menu-icon-container {
    float: right;
    margin: 13px;
    height: 100%;
    background-color: #112222;
    border-radius: 30px;
    width: 60px;
}

.menu-icon.active {
    transform: rotate(-90deg);
}

.about-content-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

@media screen and (max-width: 550px) {
    .nav-mobile .nav-mobile-top{
        height: 65px;
    }

    .menu-icon {
        font-size: 16px;
    }
    
    .menu-icon-container {
        margin: 5px;
        background-color: black;
        border-radius: 30px;
    }

    .title {
        height: 100%;
        font-size: 40px;
        text-align: center;
    }

    .word-container {
        padding-top: 10px;
    }

    .word-container.large-text {
        padding-right: 22px;
    }
    
    .word-container.normal-text {
        padding-right: 10px;
    }
    
    .word-container.small-text {
        padding-right: 4px;
    }

    .hoverable-letter {
        font-size: 100px;
        font-weight: 600;
        transition: margin-top 0.1s;
        float: left;
        line-height: 0.8em;
    }
    
    .hoverable-letter.small-text {
        font-size: 18px;
        pointer-events: none;
    }
    
    .hoverable-letter.normal-text {
        font-size: 30px;
        pointer-events: none;
    }
    
    .hoverable-letter.large-text {
        font-size: 70px;
        pointer-events: none;
    }
}